*{
    margin:0;
    padding:0; 
}
.main-container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
  }

.navbar {
    border: solid 2px black;
    height: 150px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  
  .menu {
    border: solid 2px black;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    margin-top: 10px;
    animation-name: light;
    animation-duration: 1s;
  }
  
  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .left-dropdown {
    display: none;
    position: absolute;
    top: 160px;
    left: 5px;
    flex-direction: column;
    z-index: 1;
    cursor: pointer;
  }
  
  .left-dropdown div {
    display: block;
    border: solid 2px black;
    height: 100px;
    width: 200px;
    background-color: black;
    color: darkgray;
    font-size: 30px;
    text-align: center;
  }
  
  .left:hover .left-dropdown {
    display: block;
  }
  
  .left,
  .right {
    background-color: rgb(131, 14, 76);
  }
  
  .left:hover,
  .right:hover {
    background-color: rgb(241, 24, 183);
  }
  
  @keyframes light {
    from {
      background-color: rgb(131, 14, 76);
    }
    to {
      background-color: rgb(241, 24, 183);
    }
  }
  
  .knob {
    border: solid 2px black;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: black;
  }
  
  .knob-center {
    border: solid 2px black;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    font-size: 40px;
    background-color: lightgray;
  }
  
  .knob-label {
    position: relative;
    left: 20px;
    bottom: -17px;
  }
  
  /* Check the color. black border and gray/white screen. gray border with black screen. ?????*/
  .screen {
    border: solid 2px black;
    width: 1000px;
    height: 120px;
    border-radius: 50px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
  }
  
  .screen-border {
    border: solid 2px black;
    height: 100px;
    width: 980px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    color: greenyellow;
    background-color: darkgray;
  }
/* .main-container{
    height:850px; 
    width:100vw;
    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items: center;
} */

/* .band-container{
    display:flex;
    /* justify-content:center;  */


/* .band-left{
border:solid 2px;
height:100px; 
width:500px;
border-bottom: 0px;

}

.band-cushion-left{
    border:solid 2px;
    height:100px; 
    width:300px;
}

.band-right{
    border:solid 2px;
    height:100px; 
    width:100px;
    border-bottom:0px;
} */

/* .band{
    border:solid 5px black; 
    border-radius: 900px 900px 10px 10px; 
    border-bottom: 0px; 
    width: 1200px; 
    height: 450px; 
    display: flex; 
    flex-direction: column; 
    justify-content:center; 
    align-items: center; 
} */

/* .inner-band{
    border:solid 5px black; 
    border-radius: 500px 500px 10px 10px; 
    width: 750px; 
    height: 410px; 
    border-bottom: 0px; 
} */

.ear-container{
    display:flex; 
    justify-content:center;
   align-items: center;
}

.handle-left{
    border:solid 2px;
    width:90px;
    height:500px;
    border-radius: 50px 0px 50px 50px;
    display:flex;
    position: relative;
    top:160px;
}

.ears-left{
    position:relative;
    border: solid 2px black; 
    height: 300px; 
    width: 200px; 
    border-radius: 70px 10px 10px 70px; 
}

.ear-cushion-left{ 
    position: relative; 
    border: solid black 2px; 
    height: 300px; 
    width: 50px; 
    border-left:0px; 
    border-radius: 10px 10px 10px 10px;
}

.ears-right{ 
    position: relative; 
    border: solid 2px black; 
    height: 300px; 
    width:200px; 
    border-radius: 10px 70px 70px 10px; 
}

.ear-cushion-right{
    position: relative;
    border: solid black 2px; 
    height: 300px; 
    width: 50px; 
    border-right: 0px; 
    border-radius: 10px 10px 10px 10px; 
}

.handle-right{
    border:solid 2px black;
    height: 500px; 
    width:90px;
    border-radius: 0px 50px 50px 50px;
    display:flex;
    position: relative;
    top:160px;
}

.all-tooltips{
  /* position:absolute; */
    height: 700px;
    width: 1000px;
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    justify-content: center;
    align-content: end;
    
}
.tooltip-content{
  position: absolute;
  /* left:10px;
  top: 50px; */
  background-color: darkblue;
  color:white;
  box-shadow: 0px 0px 20px white;
  padding:30px;
  border-radius: 8px;
  width:20vw;
  height:25vw;
  opacity:0;
  z-index: 1;
}

.disabled{
  pointer-events: none;
}

.enabled{
  pointer-events: all;
}

.title:hover{
  animation: puls-effect .5s ease-in-out ;
  border:solid 2px black;
  background-color:black;
  color: white;
}

@keyframes puls-effect {
  0%{
    transform:scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(3);
    opacity: 0;
  }
}
.content img{
  height:200px;
  width:300px;
}

.tooltip.active .tooltip-content{
  opacity:1;
  pointer-events:all;
}


.divone{
  /* background-color: red; */
}

.cell{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
}

.divtwo{
  /* background-color: blue; */
}

.divthree{
  /* background-color: yellow; */
}

.divfour{
  /* background-color: purple; */
}

.divfive{
  /* background-color: green; */
}

.divsix{
  /* background-color: orange; */
}

.tooltip{
  position:relative;

}


/* .tooltip::before, .tooltip::after{
  content:'';
  position: absolute;
  background-color: darkgray;
  height:auto;
  width:fit-content;
  top: 0;
  left:50%;
  transform: translate(-50%, -100%);
  transition: .3s ease-in-out transform;
}

.tooltip::before{
  font-size: 16px;
  content: attr(data-tooltip);
  color:white;
  line-height: 20px;
  padding:10px;
  top: -10px;
  border-radius: 4px;
  transform: translate(-50%, -100%) scale(0);
  transform-origin: bottom ;
}

 .tooltip::after{
 height:10px;
 width: 10px;
 transform:translate(-50%, -150%) rotate(45deg) scale(0);
 transform-origin: top ;
}

.tooltip:hover::after{
  transform:translate(-50%, -150%) rotate(45deg) scale(1) ;
}

.tooltip:hover::before{
  transform:translate(-50%, -100%)  scale(1)
} */


/* -ask devan about one semicolon verses two in CSS ask about delete route
for instagram */